# Database Configuration
DATABASE_URL="postgresql://user:password@localhost:5432/file-sharing-system?schema=public"

# Redis Configuration
REDIS_URL=redis://127.0.0.1:6379

# Email Configuration (SMTP)
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER="your-email@gmail.com"
EMAIL_PASS="your-app-password"
EMAIL_FROM='"Your Name" <your-email@gmail.com>'
EMAIL_TO="recipient@gmail.com"

# JWT Secret
JWT_SECRET="your-super-secret-key"
